In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("IMDb Movies India.csv", encoding='ISO-8859-1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [4]:
df.head(5)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming you have loaded your DataFrame into a variable called 'df'

# Drop rows with missing values in 'Director', 'Actor 1', 'Actor 2', 'Actor 3', and 'Genre' columns
df.dropna(subset=['Director', 'Actor 1', 'Actor 2', 'Actor 3', 'Genre'], inplace=True)

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode 'Director'
df['Director_encoded'] = label_encoder.fit_transform(df['Director'])

# Encode 'Actor 1', 'Actor 2', 'Actor 3' separately
df['Actor1_encoded'] = label_encoder.fit_transform(df['Actor 1'])
df['Actor2_encoded'] = label_encoder.fit_transform(df['Actor 2'])
df['Actor3_encoded'] = label_encoder.fit_transform(df['Actor 3'])

# For encoding 'Genre', you can use one-hot encoding
# First, split the genres into separate columns
genre_dummies = df['Genre'].str.get_dummies(sep=', ')

# Concatenate the one-hot encoded genres with the original DataFrame
df = pd.concat([df, genre_dummies], axis=1)

# Drop the original categorical columns
df.drop(['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3'], axis=1, inplace=True)

In [6]:
df.head(2)

,Name,Year,Duration,Rating,Votes,Director_encoded,Actor1_encoded,Actor2_encoded,Actor3_encoded,Action,...,Musical,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Thriller,War,Western
0,,NaN,NaN,NaN,NaN,1513,1862,710,2938,0,...,0,0,0,0,0,0,0,0,0,0
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,7.0,8,1218,2726,4239,514,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.dropna(subset="Rating",inplace=True)

In [8]:
df["Votes"].fillna(-1,inplace=True)
df["Duration"].fillna("-1 min",inplace=True)

In [9]:

df['Duration_minutes'] = df["Duration"].str.extract('(\d+)').astype(int)

In [10]:
df['Year_int'] = df['Year'].str.strip('()').astype(int)

In [11]:
df['Vote'] = df['Votes'].str.replace(',', '').astype(int)
df=df.drop(columns=["Name","Duration","Year","Votes","Reality-TV"])

In [12]:
import pandas as pd

# Calculate correlation coefficients with the 'Rating' column
correlation = df.corr()['Rating'].abs()

# Drop columns with correlation less than 0.3
columns_to_drop = correlation[correlation < 0.02].index
df.drop(columns=columns_to_drop, inplace=True)

# Now, your DataFrame contains only columns with correlation coefficient >= 0.3 with the 'Rating' column

In [13]:
df.sample(5)

,Rating,Actor1_encoded,Actor2_encoded,Actor3_encoded,Action,Biography,Comedy,Crime,Documentary,Drama,...,History,Horror,Musical,Romance,Sci-Fi,Sport,Thriller,Duration_minutes,Year_int,Vote
12466,2.5,2147,1836,2004,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1998,149
14808,7.2,2052,1103,418,1,0,0,0,0,1,...,0,0,0,0,0,0,0,85,2008,34
4609,7.2,27,1512,3196,1,0,0,0,0,1,...,0,0,0,1,0,0,0,168,2006,31437
3589,5.9,3113,3424,3592,0,0,0,0,0,1,...,0,0,0,0,0,0,0,98,2018,24
11742,5.6,2101,1865,3045,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1996,10

In [14]:
x=df.drop(columns=['Rating'])
y=df['Rating']

In [15]:
x

,Actor1_encoded,Actor2_encoded,Actor3_encoded,Action,Biography,Comedy,Crime,Documentary,Drama,Family,History,Horror,Musical,Romance,Sci-Fi,Sport,Thriller,Duration_minutes,Year_int,Vote
1,2726,4239,514,0,0,0,0,0,1,0,0,0,0,0,0,0,0,109,2019,8
3,2422,1338,3813,0,0,1,0,0,0,0,0,0,0,1,0,0,0,110,2019,35
5,760,114,3631,0,0,1,0,0,1,0,0,0,1,0,0,0,0,147,1997,827
6,1418,2089,4514,0,0,0,0,0,1,0,0,0,0,1,0,0,0,142,2005,1086
8,3852,2200,1746,0,0,0,0,0,0,0,0,1,0,0,0,0,1,82,2012,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15501,958,2162,1236,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1992,135
15503,833,1419,2964,1,0,0,1,0,1,0,0,0,0,0,0,0,0,125,1989,44
15504,2147,3814,4039,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1988,11
15505,196,4021,506,1,0,0,0,0,1,0,0,0,0,0,0,0,0,129,1999,655
15508,958,1412,478,1,0,0,0,0,1,0,0,0,0,0,0,0,0,130,1998,20

In [16]:
"""import seaborn as sns
import matplotlib.pyplot as plt
numeric_data = df.select_dtypes(include=['number'])

# Compute the correlation matrix
correlation_matrix = numeric_data.corr()

# Plot the correlation heatmap
plt.figure(figsize=(25,25))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Correlation Map of Numeric Variables')
plt.show()"""

'import seaborn as sns\nimport matplotlib.pyplot as plt\nnumeric_data = df.select_dtypes(include=[\'number\'])\n\n# Compute the correlation matrix\ncorrelation_matrix = numeric_data.corr()\n\n# Plot the correlation heatmap\nplt.figure(figsize=(25,25))\nsns.heatmap(correlation_matrix, annot=True, cmap=\'coolwarm\', fmt=".2f", linewidths=0.5)\nplt.title(\'Correlation Map of Numeric Variables\')\nplt.show()'

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Splitting the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Initializing and training the linear regression model
model=RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [18]:
y_pred=model.predict(x_test)
accuracy=r2_score(y_test,y_pred)
accuracy

0.3592985506815548